<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>Product Form</title>
</head>
<body>
	<div th:fragment="home" align="left" id="myDiv"
		style="height: 50px; background-color: lightblue">
		<h3>Course Form</h3>
	</div>
	<div class="w3-bar w3-border w3-light-grey">

		<a href="AddStudent.html" class="w3-bar-item w3-hover-green"
			th:href="@{/faculty/listStudent}">List of Students</a> <a
			href="SearchStudents.html" class="w3-bar-item w3-hover-green"
			th:href="@{/faculty/list}">List of Courses</a> <a href="Logout.html"
			class="w3-bar-item w3-hover-green" th:href="@{/faculty/masterlist}">Masterlist</a> <a href="Logout.html" style="float: right"
			class="w3-bar-item w3-button w3-green w3-right"
			th:href="@{/home}">Log Out</a>

	</div>
	<div class="container">

		<form th:object="${course}" th:action="@{/faculty/saveCourse}"
			method="get">
			<div class="form-group">
				<fieldset>
					<label>Course ID:</label> <input type="text" th:field="*{courseid}"
						class="form-control" placeholder="Course ID">
					<p th:if="${#fields.hasErrors('courseid')}" th:errors="*{courseid}"></p>
				</fieldset>
			</div>
			<div class="form-group">
				<fieldset>
					<label>Course Name:</label> <input type="text"
						th:field="*{courseName}" class="form-control"
						placeholder="Course Name">
					<p th:if="${#fields.hasErrors('courseName')}"
						th:errors="*{courseName}"></p>
				</fieldset>
			</div>
			<div class="form-group">
				<fieldset>
					<label>Start Date:</label> <input type="text"
						th:field="*{startDate}" class="form-control"
						placeholder="Course Start Date">
					<p th:if="${#fields.hasErrors('startDate')}"
						th:errors="*{startDate}"></p>
				</fieldset>
			</div>
			<div class="form-group">
				<fieldset>
					<label>End Date:</label> <input type="text" th:field="*{endDate}"
						class="form-control" placeholder="Course End Date">
					<p th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></p>
				</fieldset>
			</div>
			<div class="form-group">
				<fieldset>
					<button type="submit" class="btn btn-primary">Save</button>
				</fieldset>
			</div>

		</form>
	</div>
</body>
<div th:insert="~{home :: copy}">Copy</div>
</html>