<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="home" align="left" id="myDiv"
		style="height: 50px; background-color: lightblue">
		<h3>Find Student</h3>
	</div>
	<div class="w3-bar w3-border w3-light-grey">

		<a href="Student.html" class="w3-bar-item w3-hover-green"
			th:href="@{/faculty/listStudent}">List of Students</a> <a
			href="Course.html" class="w3-bar-item w3-hover-green"
			th:href="@{/faculty/list}">List of Courses</a> <a href="Masterlist.html"
			class="w3-bar-item w3-hover-green" th:href="@{/faculty/masterlist}">Masterlist</a>
		<a href="Logout.html" style="float: right"
			class="w3-bar-item w3-button w3-green w3-right"
			th:href="@{/home}">Log Out</a>

	</div>

	<div class="container">
		<form th:object="${studentfind}" th:action="@{/faculty/students}"
			method="get" class="form-horizontal">
			<div class="form-group">
				<label>Student Name</label> <input class="form-control"
					th:field="*{studentName}" /> <span class="help-inline">
					<div th:if="${#fields.hasAnyErrors()}">
						<p th:each="err:${#fields.allErrors()}" th:text="${err}">Error</p>
					</div>

				</span>
			</div>

			<div class="form-group">

				<button type="submit" class="btn btn-primary">Find Student</button>

			</div>
		</form>
	</div>

</body>
<div th:insert="~{home :: copy}">Copy</div>
</html>